/* common.cssに記載 .header {
    background: #01A0E9
}*/

/* common.cssに記載.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}*/

/* common.cssに記載.header__logo {
    color: #FFCB00
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}*/

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    color: #01A0E9;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: #f0f8ff;
    font-weight: bold;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

/* ボタンcommonに記載 
.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* ボタン間の隙間 
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #00bfff;
    color: #fff;
    cursor: pointer;
}*/

.form__button-submit--back {
    background: none !important;
    color: #01A0E9 !important;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-family: 'Zen Maru Gothic', sans-serif;
}