/* エクスポート用 */

.export-button {
    padding: 8px 16px;
    background-color: #aaa;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.export-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}