/* common.cssに記載 .header {
    background: #01A0E9
}*/

/* common.cssに記載.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}*/

/* common.cssに記載.header__logo {
    color: #FFCB00
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}*/

.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    position: relative;
    z-index: 1;
}

.thanks__heading {
    color: #01A0E9;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #dcdcdc;
    /* 薄いグレー */
    z-index: -1;
    pointer-events: none;
    /* クリック干渉なし */
    white-space: nowrap; }
